---
# tasks file for compile
- name: Ensure all needs sodt is present
  apt: name={{item}} state=present
  with_items:
    - default-jdk
    - maven
    - git

- name: git pull
  git: repo={{git_source}} dest={{dest_folder}}

- name: packaging war file  
  shell:  
    cmd: mvn package -f /home/warhello/pom.xml